<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266277984034-mkqfjpk64mu943kgbr1rm54tmq2uiknk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266277984034-mkqfjpk64mu943kgbr1rm54tmq2uiknk</string>
	<key>API_KEY</key>
	<string>AIzaSyA6H2Kdul-d_4kM0PZ79ZvKixG1FTGKU00</string>
	<key>GCM_SENDER_ID</key>
	<string>266277984034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.paulfran.GroceryApp</string>
	<key>PROJECT_ID</key>
	<string>grocery-3e8c2</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-3e8c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266277984034:ios:0867f015fbf3f8ae5f777b</string>
</dict>
</plist>